doctype html
html
    head
        title home
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/wapstyle.css')
        meta(name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum - scale = 1.0, user - scalable = no")
        body
            header
                nav(id='nav')
                    ul
                        li
                            a(href='home') 首页
                        li
                            a(href='informations') 资讯
                        li
                            a(href='ticket') 票务
                        li(class='active')
                            a(href='about') 关于
            div(id='headline')
                hgroup
                    h2 公司简介
                    h3 公司的发展历程，获得荣誉以及联系方式
            article(class='list about')
                section
                    h2 关于我们
                    p Wushao旅行社旅游网创立于2019 年1 月，以“让旅游更简单”为使命，为消费者提供由北京、上海、广州、深圳等64 个城市出发的旅游产品预订服务，产品全面，价格透明，全年365 天24 小时400 电话预订，并提供丰富的后续服务和保障。目前，Wushao旅行社旅游网提供8 万余种旅游产品供消费者选择，涵盖跟团、自助、自驾、邮轮、酒店、签证、景区门票以及公司旅游等，已成功服务累计超过400 万人次出游。同时基于Wushao旅行社旅游网全球中文景点目录以及中文旅游社区，可以更好地帮助游客了解目的地信息，妥善制定好出游计划，并方便地预订旅程中的服务项目。
                section.address
                    h2 联系方式
                    address
                        ul
                            li Wushao旅行社股份有限公司
                            li 地址：江西省南昌市新建区
                            li 邮编：1234567
                            li 电话：010-88888888
                            li 传真：010-88666666
            footer(id='footer')
                .top
                    ul
                        li
                            a(href='') 客户端
                        li
                            a(href='') 触屏版
                        li
                            a(href='') 电脑版
                .bottom Copyright © Wushao旅行社| 赣ICP 备555555555 号


