<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/wapstyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum - scale = 1.0, user - scalable = no">
    <body>
      <header>
        <nav id="nav">
          <ul>
            <li class="active"><a href="home">首页</a></li>
            <li><a href="informations">资讯</a></li>
            <li><a href="ticket">票务</a></li>
            <li><a href="about">关于</a></li>
          </ul>
        </nav>
      </header>
      <div class="adver"><img src="/images/bg.png"></div>
      <div class="search">
        <input class="input" type="text" placeholder="请输入陆游景点或城市">
        <div class="button">搜索</div>
      </div>
      <div id="tour">
        <hgroup>
          <h2>热门旅游</h2>
          <h3>最新的各种旅游资讯推荐</h3>
        </hgroup>
        <div class="container">
          <figure><img src="/images/tour1.png">
            <figcaption>
              <h4>&lt;曼谷-芭提雅6日游&gt;</h4>
              <p>包团特惠，超丰富景点</p>
              <div class="info">
                <div class="sat">满意度77%</div>
                <div class="price">￥<strong>2864</strong><span>起</span></div>
              </div>
            </figcaption>
          </figure>
          <figure><img src="/images/tour2.png">
            <figcaption>
              <h4>&lt;马尔代夫双鱼岛Olhuveli4晚6日自助游&gt;</h4>
              <p>上海出发，机+酒包含：早晚餐+快艇</p>
              <div class="info">
                <div class="sat">满意度97%</div>
                <div class="price">￥<strong>8039</strong><span>起</span></div>
              </div>
            </figcaption>
          </figure>
          <figure><img src="/images/tour3.png">
            <figcaption>
              <h4>&lt;海南双飞5日游&gt;</h4>
              <p>含盐城接送，全程挂牌四星酒店</p>
              <div class="info">
                <div class="sat">满意度90%</div>
                <div class="price">￥<strong>2709</strong><span>起</span></div>
              </div>
            </figcaption>
          </figure>
          <figure><img src="/images/tour4.png">
            <figcaption>
              <h4>&lt;富山-大阪-东京8日游&gt;</h4>
              <p>暑假亲子，2天自由，无导游安排</p>
              <div class="info">
                <div class="sat">满意度97%</div>
                <div class="price">￥<strong>9499</strong><span>起</span></div>
              </div>
            </figcaption>
          </figure>
          <figure><img src="/images/tour5.png">
            <figcaption>
              <h4>&lt;法瑞意德12日游&gt;</h4>
              <p>4至5星，金色列车，少女峰</p>
              <div class="info">
                <div class="sat">满意度97%</div>
                <div class="price">￥<strong>9199</strong><span>起</span></div>
              </div>
            </figcaption>
          </figure>
          <figure><img src="/images/tour6.png">
            <figcaption>
              <h4>&lt;巴厘岛6日半自助游&gt;</h4>
              <p>蓝梦出海，独栋别墅，悦榕庄下午茶</p>
              <div class="info">
                <div class="sat">满意度95%</div>
                <div class="price">￥<strong>6488</strong><span>起</span></div>
              </div>
            </figcaption>
          </figure>
          <figure><img src="/images/tour7.png">
            <figcaption>
              <h4>&lt;塞舌尔迪拜9日自助游&gt;</h4>
              <p>一游两国，4晚塞舌尔，2晚迪拜</p>
              <div class="info">
                <div class="sat">满意度100%</div>
                <div class="price">￥<strong>9699</strong><span>起</span></div>
              </div>
            </figcaption>
          </figure>
          <figure><img src="/images/tour8.png">
            <figcaption>
              <h4>&lt;花样姐姐土耳其9日或10游&gt;</h4>
              <p>最高立减3000，中餐六菜一汤</p>
              <div class="info">
                <div class="sat">满意度93%</div>
                <div class="price">￥<strong>9999</strong><span>起</span></div>
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="clearfix"></div>
      </div>
      <footer id="footer">
        <div class="top">
          <ul>
            <li><a href="">客户端</a></li>
            <li><a href="">触屏版</a></li>
            <li><a href="">电脑版</a></li>
          </ul>
        </div>
        <div class="bottom">Copyright © Wushao旅行社| 赣ICP 备555555555 号</div>
      </footer>
    </body>
  </head>
</html>