<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <meta name="viewport" content="width=device-width,user-scale=no,initial-scale=1.0,maximum=1.0,minimum=1.0">
    <div class="main">
      <div class="title"><span>进入你的主页</span></div>
      <div class="title-msg"><span>请输入登录账户和密码</span></div>
      <form action="user" method="post">
        <div class="input-content">
          <div>
            <input type="text" autocomplete="off" placeholder="用户名" name="username" required>
          </div>
          <div class="pwd">
            <input type="password" autocomplete="off" placeholder="密码" name="password" required maxlength="32">
          </div>
        </div>
        <div class="dl"><a href="#">
            <button class="enter-btn">登录</button></a></div>
        <div class="foor">
          <div class="left"><span>忘记密码？</span></div>
          <div class="right"><span>注册账户</span></div>
        </div>
      </form>
    </div>
  </head>
</html>