<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sign.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum - scale = 1.0, user - scalable = no">
  </head>
  <body>
    <div class="main">
      <div class="title"><span>请输入相关信息</span></div>
      <form action="user" method="post">
        <div class="input-content">
          <div>
            <input type="text" autocomplete="off" placeholder="用户名" name="userName" required>
          </div>
          <div class="signup1">
            <input type="password" autocomplete="off" placeholder="邮箱" name="password" required maxlength="32">
          </div>
          <div class="signup1">
            <input type="password" autocomplete="off" placeholder="登陆密码" name="password" required maxlength="32">
          </div>
          <div class="signup1">
            <input type="password" autocomplete="off" placeholder="再次输入" name="password" required maxlength="32">
          </div>
        </div>
        <div class="signup2">
          <button class="enter-btn">注册</button>
        </div>
      </form>
    </div>
  </body>
</html>