    body{
        background-image: url(../images/login.jpg);
		background-size: auto;
		width: 100vw;
		height: 100%;
		font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;
		font-size: 1rem;
		color: #333;
		line-height: 1.75;
		
     }
    .main {
        margin: 0 auto;
        padding: 1rem 1.3rem 0 1.3rem;
        width: 22rem;
        height: 22rem;
        background: #FFFFFF;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -9.5rem;
        margin-left: -12rem;
        border-radius: 10px;
        opacity: 0.85;
    }
 
    .title {
        width: 100%;
        height: 2.5rem;
        line-height: 2.5rem;
    }
 
    .title span {
        font-size: 1.125rem;
        color: #353f42;
    }
 
    .title-msg {
        width: 100%;
        height: 4rem;
        line-height:4rem;
    }
 
    .title:hover{
        cursor: default	;
    }
 
    .title-msg:hover{
        cursor: default	;
    }
 
    .title-msg span {
        font-size: 0.75rem;
        color: #707472;
    }
 
    .input-content {
        width: 100%;
        height: 7.5rem;
    }

    .input-content input {
        width: 20.625rem;
        height: 2.5rem;
        border: 1px solid #dad9d6;
        background: #ffffff;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        border-radius: 1rem;
        outline: none;
    }
 
    .enter-btn {
        width: 21.875rem;
        height: 2.5rem;
        color: #fff;
        background: #0bc5de;
        line-height: 2.5rem;
        text-align: center;
        border: 0;
		border-radius: 1.25rem;
		outline: none;
    }
	
 
    .foor{
        width: 100%;
        height: auto;
        color: #9b9c98;
        font-size: 0.75rem;
        margin-top: 1.25rem;
    }
 
    .enter-btn:hover {
        cursor:pointer;
        background: #1db5c9;
    }
 
    .foor div:hover {
        cursor:pointer;
        color: #484847;
        font-weight: 600;
    }
 
    .left{
        float: left;
    }
    .right{
        float: right;
    }

    .pwd{
        margin-top: 1rem
    }
    .dl{
        text-align: center
    }

    .err{
        color: red;
        text-align: center;
    }